<div class="post-container">
  <%= image_tag user_avatar(current_user, 75), class: "prof-pic-posting" %><br>
  <%= form_with(model: @post, local: true) do |f| %>
    <div class="post-grid">
      <%= f.select(:visibility, options_for_select(@visibilities)) %>
      <%= f.text_area :message, placeholder: "Whats on your mind?" %><br>
      <%= f.submit(class: "submit-btn") %>
    </div>
  <% end %>
</div>