<!DOCTYPE html>
<html>
  <head>
    <title>Bookface</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <nav class="top-navbar">
        <%= link_to image_tag('fb-logo.png'), root_path, class: 'fb-logo' %>
        <%= link_to image_tag('profile.png'), profile_user_path(current_user), class: 'profile-icon' %>
        <%= link_to image_tag('find-friends.png'), users_path, class: 'friends-icon' %>
        <%= link_to image_tag('logout.png'), destroy_user_session_path, method: :delete %>
        <% if current_user.received_requests.count > 0 %>
          <%= link_to "Friend Requests(#{current_user.received_requests.count})", friend_requests_path %>
        <% else %>
          <%= link_to 'Friend Requests', friend_requests_path %>
        <% end %>
      </nav>
    <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
