<!DOCTYPE html>
<html>
  <head>
    <title>Bookface</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <%= link_to 'Home', root_path %>
      <%= link_to 'Profile', profile_user_path(current_user) %>
      <% if current_user.received_requests.count > 0 %>
        <%= link_to "Friend Requests(#{current_user.received_requests.count})", friend_requests_path %>
      <% else %>
        <%= link_to 'Friend Requests', friend_requests_path %>
      <% end %>
      <%= link_to 'Find Friends', users_path %>
      <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
    <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
